# Ambiente virtual
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dados temporários
*.log
*.tmp
*.bak

# Arquivos locais e temporários
.DS_Store
Thumbs.db

# Cache do Streamlit
.streamlit/*
!.streamlit/config.toml
.env
.streamlit/secrets.toml

# PDFs gerados
*.pdf

# Excel de testes
*.xlsx

# Diretórios de saída
/output/

# Sistema/IDE
.vscode/
.idea/
.DS_Store